.wrapper{
    /* border: 2px solid red; */
    height: 200px !important;
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 600px !important;
    margin: auto;
    margin-top: 15%;
    /* background-color: green; */
}
.middleText{
    font-size: 21px;
    font-weight: 400;
    margin:auto;
}